<h1>Grocery List Generator</h1>
<p>Eventually, this might even be useful.</p>
<%= link_to "Food Labels", labels_path %>
<br/>
<%= link_to "Food Items", foods_path %>
<br/>
<%= link_to "Recipes", recipes_path %>
