body {
  margin-left: 120px;
  margin-top: 25px;
  padding: 10px;
  background-color: #a0a0a0; 
  background-image: url(/images/recipe-bg.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: left top;
  background-size: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000066;
  }

p, ol, ul, td {
  font-family: courier, bookman;
  font-size: 13px;
  line-height: 18px; }
  
h1 {
  text-shadow: 1px 1px #c1cadc;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  text-decoration: underline;
  color: #FFE34D;
  &:hover {
  text-decoration: none; }
}

input[type="text"] {
  background-color: #fafad2;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #EBF0FA;
  
}

textarea {
  background-color: #fafad2;
  border-radius: 4px;
  border: none;

}

th {

  &.name {
    width: 170pt;
  }
  &.quantity {
    width: 55pt;
  }
}

div {
  &.actions {
    margin-bottom: 10px; } 
  &.field {
    float:left; height:20px; margin-left:10px;  padding:10px;
  }
  &.nested_form {
    align:left; width:550px; margin-left:10px;  padding:10px;
  }
    
    }
    
fieldset {
  border-width: 5px;
  border-radius: 5px;
  border-color: #EBF0FA;
}

legend {
  border: 3px #EBF0FA dotted;
  border-radius: 3px;
  padding: 7px;
}

.break-word {
  word-wrap: break-word;
}

#notice {
  color: #2952A3; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
