<h1>Available Store Sections</h1>

<fieldset style="width: 300px">
<legend><b>STORE SECTION</b></legend>
<table>

<%= paginate @store_sections %>
<% @store_sections.each do |store_section| %>
  <tr>
    <td style="padding-right: 15px"><%= store_section.name %></td>
    <td style="padding-right: 5px"><%= link_to 'Edit', edit_store_section_path(store_section) %></td>
    <td><%= link_to 'Destroy', store_section, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</fieldset>